.navbar{
    background-color: var(--warnaUtama) !important;

}
.navbar-brand{
    background-color: var(--warnaLogo);
    width: 4em;
    text-align: center;
    color: var(--warnaTulisan);
}
.nav-link{
    color: var(--warnaTulisan) !important;
}
.navbar-toggler-icon{
    background-color: var(--warnaTulisan);
}
.logo {
    position: relative;
    width: 6rem;
    height: 2rem;
    background: var(--warnaLogo);
  }



  @media screen and (min-width: 768px) {
    .navbar-collapse{
        display: flex;
        justify-content: end;
        align-items: center;
    }
  }