@media screen and (min-width: 1000px) and (max-width: 1199px) {
    #pencarian > .pencarian > .container > .row > .col > .container-option{
        width: 18% !important;
        background-color: var(--white-color) !important;
    }   
    #pencarian > .pencarian .container .row .col {
        margin-top: -3rem !important;        
    }
}

@media screen and (min-width: 1000px) {
    #pencarian > .pencarian{
        position: relative;
        display: flex;
        justify-content: center;
        padding: .6rem 0 3rem 0;
        z-index: 9999;
        
    }

    #pencarian > .pencarian .container .row .col {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-top: -3rem;  
        padding-top: 2em;
        padding-bottom: 2em;
        border: 2px solid grey;
        border-radius: 4px 4px 4px 4px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: white;
    }
    #pencarian > .pencarian > .container > .row > .col > .container-option{
        width: 20%;
    }   
    #pencarian > .pencarian >.container > .row > .col > .btn-input > button  {
        border: none;
    }
    #pencarian > .pencarian >.container > .row > .col > .btn-input > button > a.sewa {
        padding: 1rem;
        width: 100%;
        display: inline-block;
        margin-right: 1em;
        text-decoration: none;
        font-weight: bold;
        color: var(--warnaUtama);
        background-color: var(--warnaTombol);
    }
}


#pencarian > .pencarian > .container > .row > .col > .container-option {
    margin: 10px 0;
    background-color: var(--white-color) !important;
}

#pencarian > .pencarian >.container > .row > .col > .btn-input > button > a.sewa {
    padding: 1rem;
    width: 100%;
    display: inline-block;
    margin-right: 1em;
    text-decoration: none;
    font-weight: bold;
    color: var(--warnaUtama);
    background-color: var(--warnaTombol);
}


#pencarian > .pencarian .container .row .col .container-option .form-floating{
    width: 20%;
    margin: 100px 0;
} 