@media screen and (min-width: 768px) {
    .service{
        height: 70vh;

    }
    .service img{
        position: relative;
        font-size: 30px;
        height: 80%;
    }
    .container2{
        background-color: red;
        border: 2px solid black;
    }
    /* .deskripsi{
        position: relative;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      } */
      ul > li {
        margin: 5px 0;
      }
      ul li i {
        font-size: 0.65rem;
        background: var(--warnaLogo);
        padding: 0.5rem;
        border-radius: 50%;
        color: var(--warnaUtama);
        margin-right: 0.75rem;
      }
    
}