* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-decoration: none;
  list-style: none; 
  color: var(--black-color);
}

:root{
  /**Warna**/
  --warnaUtama: #F1F3FF;
  --warnaLogo: #0D28A6;
  --warnaTombol: #5CB85F;
  --warnaTulisan: #000000;
  --yellow-color: #f9cc00;
  --red-color: #fa2c5a;
  
}

*{
  box-sizing: border-box !important;
  
}